.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.8vw;
  width: 100vw;
  border-bottom: 1px solid white;
  position: relative;

  .header-content {
    padding: 0 1.5625vw;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8333333333vw;
    line-height: 1.1875;
    letter-spacing: -0.02em;
    width: 220px;
    white-space: pre-line;
  }
}
